main {
  text-align: center;
  #container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    form {
      #inputs{
        input,label,button{
          display:inline-block;
        }
        input{
          width:70%;
        }
        button{
          cursor: pointer;
        }
      }

      #methods {
        label {
          background: rgba(128, 128, 128, 0.336);
          margin: 17px;
          
        }
        input{
          cursor: pointer;
        }
        label:hover{
          background: none;
        }
      }
    }
    #result {
      text-align: left;
      background: rgba(128, 128, 128, 0.336);
      width: 80%;
      height: 250px;
      border: 1px solid black;
      span{
        margin:10px;
      }
    }
  }
}
